/* CSS definition file containing site stylesheet */
body { }
#content { margin-left: auto; margin-right: auto; }
#footer { font-size: small; font-style: italic; text-align: center; }
#footer p { padding-top: 20px; }
.row>div { margin-bottom: 30px; }

a { color: navy; }
a:hover { color: orangered; }

.banner { width: 100%; }
.navbar-inner { margin: 20px 0; padding: 20px; min-height: 0; text-align: center; }
.mynav ul { display: inline-block; list-style-type:none; margin: 0;font-size: 120%; }
.mynav ul li { text-align:center; float:left;margin-right:15px;color:white;list-style-type:none; }
.mynav a { text-decoration:none;color:navy; font-weight:bold; }
.mynav a:hover  { color: orangered; }

.pagination { margin: 30px 0; }
.pagination a, .pagination strong { padding: 5px; }

.rosterTable td, .leagueTable td { vertical-align: middle; }
.rosterTable img { width: 75px; }

#filterGo { margin-bottom: 10px; border: 0px solid; border-radius: 5px; background-color: navy; color: white; }
#filterGo:hover { background-color: orangered; }

.btn { border: 0px solid; border-radius: 5px; background-color: navy; color: white; background-image: none;}
.btn:hover { color: white; background-color: orangered; }

.addButton { width: 75px; margin: 0 auto 40px auto;}